# These are the requirements for developers of LabOne Q.
# Packages required to just run the software will be installed in the respective
# component setup.py modules.

# For documentation
sphinx
sphinxcontrib-apidoc
sphinxcontrib-napoleon
sphinx_tabs
sphinx_autodoc_typehints
sphinx_rtd_theme
pydata-sphinx-theme==0.11.0

# For tests
pytest
pytest-assume
pytest-cov
pytest_mock
pytest-httpserver
jsonschema
requests
nbconvert
RsInstrument
pyvisa-py==0.5.3

# Formatting (must match version in CI)
black==22.12.0
pre-commit
isort>=5.11.4
flake8==5.0.4

# packaging/deployment
wheel
wheel-inspect
twine

# CI
click==8.0.4
toml
build
python-gitlab