# These are the requirements for developers of LabOne Q.
# Packages required to just run the software will be installed in the respective
# component setup.py modules.

# For tests
pytest
pytest-assume
pytest-asyncio
pytest-cov
pytest_mock
pytest-httpserver
pytest-xdist
pytest-benchmark[aspect,elasticsearch] @ git+https://github.com/ckutlu/pytest-benchmark.git@master-ckutlu
jsonschema
requests
nbconvert
nbmake
nbqa
RsInstrument
flaky==3.7.0
pyvisa-py==0.5.3
qcodes
qiskit
qiskit_experiments
qiskit_qasm3_import
pygsti
ipykernel
rustworkx
ipython

# Packaging test
pydeps

# Formatting (must match version in CI)
black[jupyter]==22.10
pre-commit
isort>=5.12.0
ruff==0.0.264

# packaging/deployment
wheel
wheel-inspect
twine

# CI
click==8.0.4
toml
build
python-gitlab

# Package optional dependencies
-r requirements-optional.txt
